@media (max-width: 767px){
    .order-left-content{
        text-align: center !important;
    }
    .order-right-content{
        text-align: center !important;
    }
}
@media (max-width: 991px){
    .top_header{
        height: 600px !important;
    }
}